.foodie-header {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  background: #ffffff;
}
.foodie-leftHeader {
  display: flex;
  width: 50%;

  height: 100%;
  padding-left: 8vw;
  justify-content: space-between;
  flex-direction: column;
}
.foodie-leftHeader-img {
  width: 10.7rem;
  margin-top: 3.3rem;
}
.foodie-leftHeader-container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin-top: 2rem;
  flex-direction: column;
}

.foodie-leftHeader-container-text1 {
  width: 55%;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 5.2rem;
  color: #0e2368;
}

.foodie-leftHeader-container-text2 {
  width: 55%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.64447rem;
  line-height: 2.7rem;
  color: #444957;
}

.foodie-leftHeader-container-explorebtn {
  padding: 1.3rem 3rem;
  background: #e23744;
  outline: none;
  border:none;
  width: fit-content;
  letter-spacing: 0.01em;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  font-family: "Open Sans";
  font-weight: 700;
}



.foodie-rightHeader {
  display: flex;
  width: 50%;
  height: 100%;
}

.foodie-rightHeader-container{
position: relative;
height: 100%;
width: 100%;
}
.foodie-rightHeader-container-img{
  width: 98%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}
.foodie-rightHeader-container-svg{
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}

.foodie-rightHeader-container-getInTouchBtn{
position: absolute;
top: 2rem;
right: 2rem;
z-index: 3;
background: transparent;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 1.3rem;
padding: .8rem;
color: white;
border-radius: 2rem;
border: 2px solid white;
letter-spacing: 0.03em;
width: fit-content;
outline: none;
cursor: pointer;
}
