.foodie-gallary{
    display: flex;
    width: 100%;
    height: fit-content;
    background:rgb(255, 255, 255);
    padding: 4vw;
    
    flex-direction: column;
    justify-content: space-evenly;
    

}

.foodie-gallary-title{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 5.6rem;
    line-height: 4.2rem;
    letter-spacing: 0.04em;
    margin-top: 4vw;

    color: #0E2368;
}
.foodie-gallary-container{
    display: flex;
    flex-direction: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 54rem;
    padding-top: 4vw;
   
}

.foodie-gallary-containerpager {
justify-content: center;
display: flex;
flex-direction: row;
padding-top: 14rem;


}
.foodie-gallary-containerpager p{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #424961;
    padding-left:1rem;
    padding-right:1rem;
}

.foodie-gallary-containerpager button{
    box-sizing: border-box;
    width: 3rem;
   justify-content: center;
    border: 1px solid #AFAFAF;
border-radius: 5px;
background: white;
padding-top: .4rem;

}